@model Domain.Entities.TribAlvDocumento

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TribAlvDocumento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NrAno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NrAno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NrSequencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NrSequencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NrCmcExecucao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NrCmcExecucao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NrCmcProjeto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NrCmcProjeto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DsObraEndereco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DsObraEndereco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DsObra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DsObra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NrArt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NrArt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NrCreaExecucao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NrCreaExecucao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NrCreaProjeto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NrCreaProjeto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NmProprietario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NmProprietario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NrPropCpfcnpj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NrPropCpfcnpj)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DsPropFone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DsPropFone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DsPropEndereco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DsPropEndereco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DsArea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DsArea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NrInscricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NrInscricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtDocumento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtDocumento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NrNossoNumero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NrNossoNumero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlComValor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlComValor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NrProtocolo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NrProtocolo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NrLote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NrLote)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NrQuadra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NrQuadra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DsObservacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DsObservacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DsAvaliacaoIssqn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DsAvaliacaoIssqn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImDocumento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImDocumento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DsTipoDocumento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DsTipoDocumento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DsTitulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DsTitulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DsTexto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DsTexto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdDocumentoOrigem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdDocumentoOrigem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NrAreaTerreno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NrAreaTerreno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NrSequenciaOrigem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NrSequenciaOrigem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NrAnoOrigem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NrAnoOrigem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dispensado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dispensado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CepObra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CepObra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CepProprietario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CepProprietario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VlTotalAreaConstrucao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VlTotalAreaConstrucao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlOutorga)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlOutorga)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VlVenalTerreno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VlVenalTerreno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VlAreaInfracionadaTerreno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VlAreaInfracionadaTerreno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VlTaxaOutorga)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VlTaxaOutorga)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DsInscricaoEstatual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DsInscricaoEstatual)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Situacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Situacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DsMotivoCancelamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DsMotivoCancelamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RefAnterior)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RefAnterior)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DsDescAreaConstrucao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DsDescAreaConstrucao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtExclusaoAlvara)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtExclusaoAlvara)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DsUsuarioExclusao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DsUsuarioExclusao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCpfcnpjExecucao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCpfcnpjExecucao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCpfcnpjProjeto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCpfcnpjProjeto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NrProcessoAno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NrProcessoAno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NrProcessoSequencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NrProcessoSequencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DsUsuarioInclusao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DsUsuarioInclusao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlTipoAlvara)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlTipoAlvara)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TpRespObraProjeto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TpRespObraProjeto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TpRespObraExecucao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TpRespObraExecucao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdDocumento">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
