using Application.ViewModels;
@using Application.ViewModels;
@using Domain.Pagination;
@using Domain.Filters;
@model PagedResponseViewModel<TribAlvDocumentoViewModel>
@{
    ViewData["Title"] = "Index";
    var controllerAtual = ViewContext.RouteData.Values["controller"].ToString();
    //CidadeFilter CidadeFilter = new CidadeFilter() { Nome="Teste"};
    CidadeFilter CidadeFilter = ViewData["CidadeFilter"] as CidadeFilter;
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@{

    await Html.RenderPartialAsync("~/Views/Shared/Partials/_Buscar.cshtml");
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ViewModel.NrAno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewModel.NrSequencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewModel.NrCmcExecucao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewModel.NrCmcProjeto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewModel.DsObraEndereco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewModel.DsObra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewModel.NrArt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewModel.NrCreaExecucao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewModel.NrCreaProjeto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewModel.NmProprietario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewModel.NrPropCpfcnpj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewModel.DsPropFone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewModel.DsPropEndereco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewModel.DsArea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewModel.NrInscricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewModel.DtDocumento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewModel.NrNossoNumero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewModel.FlComValor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewModel.NrProtocolo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewModel.NrLote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewModel.NrQuadra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewModel.DsObservacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewModel.DsAvaliacaoIssqn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewModel.ImDocumento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewModel.DsTipoDocumento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewModel.DsTitulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewModel.DsTexto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewModel.IdDocumentoOrigem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewModel.NrAreaTerreno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewModel.NrSequenciaOrigem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewModel.NrAnoOrigem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewModel.Dispensado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewModel.CepObra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewModel.CepProprietario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewModel.VlTotalAreaConstrucao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewModel.FlOutorga)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewModel.VlVenalTerreno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewModel.VlAreaInfracionadaTerreno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewModel.VlTaxaOutorga)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewModel.DsInscricaoEstatual)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewModel.Situacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewModel.DsMotivoCancelamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewModel.RefAnterior)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewModel.DsDescAreaConstrucao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewModel.DtExclusaoAlvara)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewModel.DsUsuarioExclusao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewModel.IdCpfcnpjExecucao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewModel.IdCpfcnpjProjeto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewModel.NrProcessoAno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewModel.NrProcessoSequencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewModel.DsUsuarioInclusao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewModel.FlTipoAlvara)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewModel.TpRespObraProjeto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewModel.TpRespObraExecucao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Data) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NrAno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NrSequencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NrCmcExecucao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NrCmcProjeto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DsObraEndereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DsObra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NrArt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NrCreaExecucao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NrCreaProjeto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NmProprietario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NrPropCpfcnpj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DsPropFone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DsPropEndereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DsArea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NrInscricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtDocumento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NrNossoNumero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlComValor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NrProtocolo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NrLote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NrQuadra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DsObservacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DsAvaliacaoIssqn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImDocumento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DsTipoDocumento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DsTitulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DsTexto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDocumentoOrigem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NrAreaTerreno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NrSequenciaOrigem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NrAnoOrigem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dispensado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CepObra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CepProprietario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VlTotalAreaConstrucao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlOutorga)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VlVenalTerreno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VlAreaInfracionadaTerreno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VlTaxaOutorga)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DsInscricaoEstatual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Situacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DsMotivoCancelamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RefAnterior)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DsDescAreaConstrucao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtExclusaoAlvara)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DsUsuarioExclusao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCpfcnpjExecucao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCpfcnpjProjeto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NrProcessoAno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NrProcessoSequencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DsUsuarioInclusao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlTipoAlvara)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TpRespObraProjeto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TpRespObraExecucao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdDocumento">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdDocumento">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdDocumento">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


@{

    await Html.RenderPartialAsync("~/Views/Shared/Partials/_Paginacao.cshtml");
}
