@using System.ComponentModel.DataAnnotations
@using ITBI.Services
@inject IContribuinteService contribuinteService
@implements IDialogContentComponent<BuscarContribuinteDialog.RegisterContent>

<!-- Header -->
<FluentDialogHeader ShowDismiss="true">
    <FluentStack VerticalAlignment="VerticalAlignment.Center">
        <FluentIcon Value="@(new Icons.Regular.Size24.WindowApps())" />
        <FluentLabel Typo="Typography.PaneHeader">
            @Dialog.Instance.Parameters.Title
        </FluentLabel>
    </FluentStack>
</FluentDialogHeader>

<!-- Body -->
<FluentDialogBody>
    <EditForm EditContext="@_editContext" FormName="buscarcontribuinte_register">
        <DataAnnotationsValidator />

        <FluentLabel Style="margin-bottom: 16px;">
            Digite o CPF/CNPJ desejado.
        </FluentLabel>

        <FluentTextField Name="register_cpfcnpj"
                         @bind-Value="@Content.cpfcnpj"
                         Label="CPF/CNPJ"
                         Required />
        <div style="color: var(--error);">
            <FluentValidationSummary />
        </div>
    </EditForm>
</FluentDialogBody>

<!-- Footer -->
<FluentDialogFooter>
    <FluentButton Appearance="Appearance.Accent"
                  Disabled="@(!_editContext.Validate())"
                  
                  OnClick="@BuscarAsync">
        Buscar
    </FluentButton>
    <FluentButton Appearance="Appearance.Neutral"
                  OnClick="@CancelAsync">
        Cancel
    </FluentButton>
</FluentDialogFooter>

@code
{
    private EditContext _editContext = default!;

    [CascadingParameter]
    public FluentDialog Dialog { get; set; } = default!;

    [Parameter]
    public BuscarContribuinteDialog.RegisterContent Content { get; set; } = default!;

    protected override void OnInitialized()
    {
        _editContext = new EditContext(Content);
    }

    private async Task BuscarAsync()
    {
        if (_editContext.Validate())
        {
            var contribuinte = contribuinteService.GetContribuinte(Content.cpfcnpj);
           
            await Dialog.CloseAsync(Content);
        }
    }

    private async Task CancelAsync()
    {
        await Dialog.CancelAsync();
    }

    public record RegisterContent
    {
        //   public int Id = 0;
       // [MinLength(14)]
       // [MaxLength(14)]
        public string cpfcnpj { get; set; } =  string.Empty;


        
    }
}
