@model DBProsiga.Entities.TribDividasContribuinte

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TribDividasContribuinte</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConDivAno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConDivAno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoTribId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoTribId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConDivSubDivida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConDivSubDivida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConDivParcela)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConDivParcela)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConDivVencimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConDivVencimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConDivDataGeracao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConDivDataGeracao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConDivTipoDivida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConDivTipoDivida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConDivDataBloqCorrecao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConDivDataBloqCorrecao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConDivDataBloqJuros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConDivDataBloqJuros)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConDivDataBloqMulta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConDivDataBloqMulta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConDivVlrUltimaCorrecao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConDivVlrUltimaCorrecao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConDivDataUltimaCorrecao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConDivDataUltimaCorrecao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConDivOrigemLancamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConDivOrigemLancamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConDivParcelaUnica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConDivParcelaUnica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoBxId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoBxId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConDivMes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConDivMes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConDivDataBaixa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConDivDataBaixa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConDivValorHistorico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConDivValorHistorico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConDivValorBaixa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConDivValorBaixa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConDivMotivoBaixa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConDivMotivoBaixa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConDivQtdeBaixas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConDivQtdeBaixas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AutoInfrId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AutoInfrId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioInclusao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioInclusao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConDivBxVlrJuros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConDivBxVlrJuros)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConDivBxVlrMulta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConDivBxVlrMulta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConDivBxVlrCorrecao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConDivBxVlrCorrecao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConDivBxVlrDesconto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConDivBxVlrDesconto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConDivBxVlrMultaDa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConDivBxVlrMultaDa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConDivObs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConDivObs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConDivDescDivida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConDivDescDivida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConDivSaiBoleto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConDivSaiBoleto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idmoeda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idmoeda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdiId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdiId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConDivValor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConDivValor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Multa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Multa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Juros)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Juros)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Correcao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Correcao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MultaDividaAtiva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MultaDividaAtiva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataCalculo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataCalculo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConDivValorBkp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConDivValorBkp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConDivExcluido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConDivExcluido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Con)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Con.ConTipoPessoa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ConIddivida">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
