@model IEnumerable<Domain.Entities.Economia_Entidade>

@{
    ViewData["Title"] = "Economia_Entidade";
}

<h1>Economia_Entidade</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Imovel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Economia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pessoa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoResponsabilidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proprietario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Responsavel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoResponsavel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Locatario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correspondente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ImovelId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Economia.ImovelId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pessoa.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoResponsabilidade.TipoResponsabilidadeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Proprietario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Responsavel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoResponsavel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Locatario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correspondente)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
