@model IEnumerable<Domain.Entities.Economia>

@{
    ViewData["Title"] = "Economias";
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EconomiaId)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Complemento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AreaConstruida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnoConstrucao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numeracao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Caracteristica)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.TemProcessos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EconomiaId)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Complemento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AreaConstruida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnoConstrucao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numeracao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Caracteristica)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.TemProcessos)
            </td>
            <td>
               @* @Html.ActionLink("Proprietários", "Economia", new {  ImovelId=item.ImovelId,EconomiaId=item.EconomiaId}) |
                @Html.ActionLink("Processos", "Processos", new {  ImovelId=item.ImovelId,EconomiaId=item.EconomiaId })*@
                    @{
                        //var viewDataIID = new ViewDataDictionary(,);
                        
                        //{ { "ImovelId", item.ImovelId } };
                        //var viewDataEID = new ViewDataDictionary { { "EconomiaId", item.EconomiaId } };
                    }
                    @{
                        //await Html.RenderPartialAsync("~/Views/Shared/Partials/_AcoesEconomias.cshtml",new { ImovelId = viewDataIID, EconomiaId = viewDataEID });
                        await Html.RenderPartialAsync("~/Views/Shared/Partials/_AcoesEconomias.cshtml", new { ImovelId = @item.ImovelId, EconomiaId = @item.EconomiaId });
                    }
               
            </td>
        </tr>
}
    </tbody>
</table>
