@model IEnumerable<Domain.Entities.Processo>

@{
    ViewData["Title"] = "Processos";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProcessoId)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Ano)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoProcesso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SituacaoProcesso)
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProcessoId)
                </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Ano)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoProcesso.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SituacaoProcesso.Descricao)
            </td>
             <td>
                <a asp-action="DetalhesProcesso" asp-route-id="@item.ProcessoId">Details</a> |
            </td>
        </tr>
}
    </tbody>
</table>

<div class="card">
    <div class="card-header">
        <h4>Processos do Imóvel: </h4>
    </div>
    <div class="card-body">
        <div class="card">
            <div class="card-header">
            </div>
            <div class="card-body">
            </div>
            <div class="card-footer">

            </div>
        </div>
    </div>
    <div class="card-footer">
    </div>

</div>