@model IEnumerable<Domain.Entities.Processo>

@{
    ViewData["Title"] = "Processos";
    
}
<div class="card">
    <div class="card-header">
        <h4>Processos do Imóvel: @ViewBag.ImovelId Economia: @ViewBag.EconomiaId </h4>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ProcessoId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Ano)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DataInicio)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DataFim)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TipoProcesso)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SituacaoProcesso)
                    </th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProcessoId)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Ano)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataInicio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataFim)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TipoProcesso.Descricao)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SituacaoProcesso.Descricao)
                        </td>
                        <td>
                            <a asp-action="Movimentos" asp-route-ProcessoId="@item.ProcessoId">Movimentos</a>
                            <a asp-action="DetalhesProcesso"  asp-route-ProcessoId="@item.ProcessoId">Detalhes</a>
                            <a asp-action="AutuarComProcesso" asp-route-ImovelId="@item.ObjetoProcesso.ImovelId" asp-route-EconomiaId="@item.ObjetoProcesso.EconomiaId" asp-route-PessoaId="@item.ObjetoProcesso.PessoaId" asp-route-conId="@item.ObjetoProcesso.Pessoa.conId" asp-route-ProcessoId="@item.ProcessoId">Próximo Fluxo</a>
                            
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        
            @await Html.PartialAsync("~/Views/Shared/Partials/_BotaoVoltar.cshtml")
        
    </div>

</div>
@*

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>
        var currentUrl = window.location.href;
    sessionStorage.setItem('previousUrl', currentUrl);
</script>
}
*@
