@model Domain.Entities.IncrementoTabelas

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>IncrementoTabelas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tabela)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tabela)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parametro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parametro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.valorAtual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.valorAtual)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ano)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ano)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.valorInicial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.valorInicial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.valorFinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.valorFinal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.valorincrementar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.valorincrementar)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IncrementoTabelasId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
