@model Domain.Entities.TipoProcesso

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TipoProcesso</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiasTramite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiasTramite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Permanencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Permanencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.liberado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.liberado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TipoProcessoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
