@using Application.ViewModels;
@using Application.ViewModels.MegaData;
@using Domain.Pagination;
@using Domain.Filters;
@model PagedResponseViewModel<MegaData_NFSE_ViewModel>
@{
    ViewData["Title"] = "Listagem de Períodos de Notas Fiscais Exportadas";
    var controllerAtual = ViewContext.RouteData.Values["controller"].ToString();
    //CidadeFilter CidadeFilter = new CidadeFilter() { Nome="Teste"};
    CidadeFilter CidadeFilter = ViewData["CidadeFilter"] as CidadeFilter;
}
<h1>@ViewData["Title"]</h1>
<p>
    <a asp-action="Create">Exportar Novo Período</a>
</p>


@{

    await Html.RenderPartialAsync("~/Views/Shared/Partials/_Buscar.cshtml");
}

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DataGeracaoSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Data_Geração</a>
                @* @Html.DisplayNameFor(model => model.ViewModel.DataGeracao)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewModel.DataInicioPeriodo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewModel.DataFinalPeriodo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewModel.DataEnvio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Data) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataGeracao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicioPeriodo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFinalPeriodo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEnvio)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DataGeracao.ToString("u")">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DataGeracao">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DataGeracao">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@{

    await Html.RenderPartialAsync("~/Views/Shared/Partials/_Paginacao.cshtml");
}
