@model Domain.Entities.MegaData.MegaData_NFSE

@{
    ViewData["Title"] = "Excluir";
}

<h1>Excluir</h1>

<h3>Certeza que você deseja excluir?</h3>
<div>
    @*<h4>MegaData_NFSE</h4>*@
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicioPeriodo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInicioPeriodo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataFinalPeriodo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataFinalPeriodo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataEnvio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataEnvio)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="DataGeracao" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
