@model Fazenda.Entities.DBProsiga.TribEdificaco

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TribEdificaco</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdifMatricula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdifMatricula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdifNumOficio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdifNumOficio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdifAlvara)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdifAlvara)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdifCaracteristica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdifCaracteristica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdifNumeracao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdifNumeracao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdifEdificacaoEnglobamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdifEdificacaoEnglobamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdifDtUltTransfPropriedade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdifDtUltTransfPropriedade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdifDtInicioConstrucao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdifDtInicioConstrucao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdifDtParalizacaoConstrucao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdifDtParalizacaoConstrucao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdifNumElevadores)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdifNumElevadores)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdifAnoConstrucao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdifAnoConstrucao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdifNumPavimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdifNumPavimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdifAndarConstrucao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdifAndarConstrucao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdifAreaConstruida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdifAreaConstruida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdifAreaCoberta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdifAreaCoberta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdifContinuacaoTerreno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdifContinuacaoTerreno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdifEconomia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdifEconomia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InscricaoImobiliaria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InscricaoImobiliaria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InscricaoImobiliariaGeo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InscricaoImobiliariaGeo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdifFracaoIdealEdificacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdifFracaoIdealEdificacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdifPontosEdificacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdifPontosEdificacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdifComplemento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdifComplemento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdifNumAptoSalaLoja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdifNumAptoSalaLoja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdifBloco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdifBloco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorVenalCalculo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorVenalCalculo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroCadastroCanadas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroCadastroCanadas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnidadeLote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnidadeLote)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdifJuntarAoCarne)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdifJuntarAoCarne)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorVenalEdificacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorVenalEdificacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdifSituacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdifSituacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioInclusao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioInclusao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInclusao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInclusao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdifCep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdifCep)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdifMotivoAlteracao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdifMotivoAlteracao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdifDtMatricula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdifDtMatricula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdifCentroGrauLon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdifCentroGrauLon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdifCentroGrauLat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdifCentroGrauLat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorVenalTerrenoParaEdificacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorVenalTerrenoParaEdificacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdifObs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdifObs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdifDataAtualizacaoEndereco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdifDataAtualizacaoEndereco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdifUsuarioAtualizacaoEndereco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdifUsuarioAtualizacaoEndereco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Flconferido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Flconferido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dsobservacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dsobservacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TmpIdlogradouro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TmpIdlogradouro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TmpIdzoneamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TmpIdzoneamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idusuariorevisao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idusuariorevisao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcabExt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcabExt.AcabExtId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcabInt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcabInt.AcabIntId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Agrupa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Agrupa.AgrupaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cobert)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cobert.CobertId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Deno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Deno.DenoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Eletrica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Eletrica.EletricaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Esquadrias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Esquadrias.EsquadriasId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstConserv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstConserv.EstConservId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estrut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estrut.EstrutId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Forro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Forro.ForroId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdloteamentoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdloteamentoNavigation.Idloteamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdplantaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdplantaNavigation.Idplanta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Inci)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Inci.InciId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lograd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lograd.LogradId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ocupa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ocupa.OcupaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parede)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parede.ParedeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Piso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Piso.PisoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Posicao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Posicao.PosicaoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Situacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Situacao.SituacaoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Terreno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Terreno.TerrenoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoCon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoCon.TipoConId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Uso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Uso.UsoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Utiliz)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Utiliz.UtilizId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EdificacaoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
