@model IEnumerable<Fazenda.Entities.DBProsiga.TribEdificaco>

@{
    ViewData["Title"] = "Index";
}

<h1>Relatório</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InscricaoImobiliaria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EdifCaracteristica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EdifAreaConstruida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EdifAreaCoberta)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.EdifFracaoIdealEdificacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EdifPontosEdificacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorVenalCalculo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorVenalEdificacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorVenalTerrenoParaEdificacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inci)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ocupa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posicao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Situacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Terreno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoCon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Uso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Utiliz)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InscricaoImobiliaria)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.EdifCaracteristica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EdifAreaConstruida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EdifAreaCoberta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EdifFracaoIdealEdificacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EdifPontosEdificacao)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.ValorVenalCalculo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorVenalEdificacao)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.ValorVenalTerrenoParaEdificacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inci.InciNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ocupa.OcupaNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Posicao.PosicaoNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Situacao.SituacaoNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Terreno.TerrenoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoCon.TipoConNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uso.UsoNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Utiliz.UtilizNome)
            </td>
            <td>
           
                <a asp-action="Details" asp-route-id="@item.EdificacaoId">Detalhes</a>
                <a asp-action="SimularIPTU" asp-route-id="@item.EdificacaoId">SimularIPTUs</a>

            </td>
        </tr>
}
    </tbody>
</table>
