@model IEnumerable<Domain.Entities.Imovel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Matricula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Longitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Complemento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AreaTerreno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AreaConstruida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnoConstrucao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Caracteristica)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Matricula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Complemento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AreaTerreno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AreaConstruida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnoConstrucao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Caracteristica)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ImovelId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ImovelId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ImovelId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
