@model MVC.ViewModels.ImovelPaginatedListViewModel

@{
    ViewData["Title"] = "Index";
}


<div class="card">
    <div class="card-header">
        <h4>Lista de Imóveis</h4>

    </div>
    <div class="card-body">
        <div class="card">
            <div class="card-header">
                @{
                    await Html.RenderPartialAsync("~/Views/Shared/Partials/_Buscar.cshtml", @Model);
                }
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.ImovelId)

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Matricula)

                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Latitude)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Longitude)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Complemento)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AreaTerreno)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AreaConstruida)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AnoConstrucao)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Caracteristica)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.values)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ImovelId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Matricula)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Latitude)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Longitude)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Complemento)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AreaTerreno)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AreaConstruida)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AnoConstrucao)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Caracteristica)
                                </td>
                                <td>
                                    @{
                                        await Html.RenderPartialAsync("~/Views/Shared/Partials/_AcoesIndex.cshtml", @ViewData["Id"] = @item.ImovelId);
                                    }
                                   
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                        @await Component.InvokeAsync("Pagination", new { values = Model.values, routeData=Model.LinkData})
            </div>
        </div>
    </div>
    <div class="card-footer">
        @{
            await Html.RenderPartialAsync("~/Views/Shared/Partials/_BotaoAdicionar.cshtml");
        }
    </div>
</div>
