@model Fazenda.Models.IPTU

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>IPTU</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InscricaoImobiliaria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InscricaoImobiliaria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AreaTerreno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AreaTerreno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FatorCorrecaoArea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FatorCorrecaoArea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TestadaTerreno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TestadaTerreno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfundidadePadrao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfundidadePadrao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LogradTestadaPrincipal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LogradTestadaPrincipal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuadraId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuadraId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FatorKID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FatorKID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FatorKValor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FatorKValor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FatorLocQuadra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FatorLocQuadra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FatorPedologia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FatorPedologia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FatorTopografia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FatorTopografia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EdificacaoID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EdificacaoID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IPTUID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
