@model IEnumerable<Application.ViewModels.MegaData.LayoutNFSE_MegaData>

@{
    ViewData["Title"] = "LayoutNFSE_MegaData";
}

<h1>LayoutNFSE_MegaData</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Stcpfcnpj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ano)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Situacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Localtributacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Servico116)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Issretido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Basecalculo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aliquota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vlriss)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vlrissretido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cmeprestador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cpfcnpjtomador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nometomador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exigibilidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deducoes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vlrservico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cdverificacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Stcpfcnpj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ano)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Situacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Localtributacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servico116)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Issretido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Basecalculo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aliquota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vlriss)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vlrissretido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cmeprestador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cpfcnpjtomador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nometomador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Exigibilidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deducoes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vlrservico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cdverificacao)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
