@model DBProsiga.Entities.Contribuinte

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Contribuinte</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConTipoPessoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConTipoPessoa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConCnpjcpf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConCnpjcpf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConNomeFantasia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConNomeFantasia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConInscrEstadual)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConInscrEstadual)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConCargo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConCargo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConFuncao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConFuncao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConCmc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConCmc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConDtNasc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConDtNasc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConSexo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConSexo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConRg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConRg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConRgdtEmissao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConRgdtEmissao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConRgorgaoExp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConRgorgaoExp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConRgufexp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConRgufexp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConNumTitulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConNumTitulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConNumHabilitacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConNumHabilitacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConCatHabilitacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConCatHabilitacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConIdtipoDocumento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConIdtipoDocumento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConNrDocumento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConNrDocumento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConUfdocumento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConUfdocumento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConNacionalidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConNacionalidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConNacCorrigida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConNacCorrigida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConEstadoCivil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConEstadoCivil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConProfissao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConProfissao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConTelefones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConTelefones)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConTelefoneResidencial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConTelefoneResidencial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConTelefoneComercial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConTelefoneComercial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConTelefoneCelular)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConTelefoneCelular)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConCep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConCep)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConTipoLograd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConTipoLograd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConEndereco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConEndereco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConNumero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConNumero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConComplemento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConComplemento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConCidNascId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConCidNascId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConRespRg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConRespRg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConRespNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConRespNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConFoto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConFoto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConIdconjuge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConIdconjuge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConSite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConSite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConIdanterior)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConIdanterior)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConRendaMensal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConRendaMensal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConFalecido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConFalecido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConGrafica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConGrafica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConDtBaseTce)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConDtBaseTce)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConIdcbo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConIdcbo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConNomeMae)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConNomeMae)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConTecUltAlt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConTecUltAlt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConDtUltAlt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConDtUltAlt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConSenha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConSenha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConDtValidadeSenha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConDtValidadeSenha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConDtCriaSenha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConDtCriaSenha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConFonetizado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConFonetizado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConIdnacionalidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConIdnacionalidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TmpConFoneAuxiliar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TmpConFoneAuxiliar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TmpTipoPessoa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TmpTipoPessoa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConBairro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConBairro.BairroId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConCidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConCidade.CidadeId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ConId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
