@model MVC.ViewModels.EtapaPaginatedListViewModel

@{
    ViewData["Title"] = "Index";
}

<h4>Listagens de Etapas Realizadas</h4>




<div class="card">
    <div class="card-header">
            <p>
    <a asp-action="Create">Create New</a>
</p>

    </div>
    <div class="card-body">
        <div class="card">
            <div class="card-header">
                    @{await Html.RenderPartialAsync("~/Views/Shared/Partials/_Buscar.cshtml", @Model);}

            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                <a asp-route-filter="@Model.Filter" asp-route-sort="ProcessoId" asp-route-direction="@Model.GetNextSortDirection("ProcessoId", SortDirection.Asc)">@Html.DisplayNameFor(model => model.ProcessoId)</a>
                            </th>
                            <th>
                                <a asp-route-filter="@Model.Filter" asp-route-sort="EtapaId" asp-route-direction="@Model.GetNextSortDirection("EtapaId", SortDirection.Asc)">@Html.DisplayNameFor(model => model.EtapaId)</a>
                            </th>
                            <th>
                                @*<a asp-route-filter="@Model.Filter" asp-route-sort="TipoEtapa" asp-route-direction="@Model.GetNextSortDirection("TipoEtapa", SortDirection.Asc)">@Html.DisplayNameFor(model => model.TipoEtapa.Descricao)</a>*@
                                <a asp-route-filter="@Model.Filter" asp-route-sort="TipoEtapa" asp-route-direction="@Model.GetNextSortDirection("TipoEtapa", SortDirection.Asc)">Tipo E</a>
                            </th>
                            <th>
                                @*<a asp-route-filter="@Model.Filter" asp-route-sort="SituacaoEtapa" asp-route-direction="@Model.GetNextSortDirection("SituacaoEtapa", SortDirection.Asc)">@Html.DisplayNameFor(model => model.SituacaoEtapa.Descricao)</a>*@
                                <a asp-route-filter="@Model.Filter" asp-route-sort="SituacaoEtapa" asp-route-direction="@Model.GetNextSortDirection("SituacaoEtapa", SortDirection.Asc)">Situacao E</a>
                            </th>
                            <th>
                                <a asp-route-filter="@Model.Filter" asp-route-sort="Imovel" asp-route-direction="@Model.GetNextSortDirection("Imovel", SortDirection.Asc)">@Html.DisplayNameFor(model => model.Imovel)</a>
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Economia)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DataInicio)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DataFim)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Servidor)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Pessoa)
                            </th>

                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.values)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProcessoId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EtapaId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TipoEtapa.Descricao)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SituacaoEtapa.Descricao)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Imovel.ImovelId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Economia.ImovelId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DataInicio)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DataFim)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Servidor.ServidorId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Pessoa.Nome)
                                </td>

                                <td>
                                    @{
                                        await Html.RenderPartialAsync("~/Views/Shared/Partials/_AcoesIndex.cshtml", @ViewData["Id"] = @item.ProcessoId);
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                 @await Component.InvokeAsync("Pagination", new { values = Model.values, routeData=Model.LinkData})
            </div>
        </div>
    </div>
    <div class="card-footer">
        @{await Html.RenderPartialAsync("~/Views/Shared/Partials/_BotaoAdicionar.cshtml");}
    </div>
</div>