@model Domain.Entities.Processo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Processo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Orgao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Orgao.OrgaoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoProcesso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoProcesso.TipoProcessoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrgaoRemetente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrgaoRemetente.OrgaoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnidadeRemetente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnidadeRemetente.UnidadeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrgaoDestinatario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrgaoDestinatario.OrgaoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnidadeDestinatario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnidadeDestinatario.UnidadeId)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObservacaoProcesso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObservacaoProcesso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcessoEnviado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcessoEnviado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcessoRecebido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcessoRecebido)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
