@model MVC.ViewModels.EconomiaPaginatedListViewModel

@{
    ViewData["Title"] = "Index";
}
<div class="card">
    <div class="card-header">
        <h4>Lista de Economias</h4>
    </div>
    <div class="card-body">
        <div class="card">
            <div class="card-header">
                @{
                    await Html.RenderPartialAsync("~/Views/Shared/Partials/_Buscar.cshtml", @Model);
                }
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Imovel)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EconomiaId)
                            </th>
                          
                            <th>
                                @Html.DisplayNameFor(model => model.Complemento)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AreaConstruida)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AnoConstrucao)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Numeracao)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Caracteristica)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Matricula)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TemProcessos)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.values)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ImovelId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EconomiaId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Complemento)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AreaConstruida)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AnoConstrucao)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Numeracao)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Caracteristica)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Matricula)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TemProcessos)
                                </td>
                                <td>
                                    @{
                                        await Html.RenderPartialAsync("~/Views/Shared/Partials/_AcoesIndex.cshtml", @ViewData["Id"] = @item.ImovelId);
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                @await Component.InvokeAsync("Pagination", new { values = Model.values, routeData=Model.LinkData})
            </div>
        </div>
    </div>
    <div class="card-footer">
        @{
            await Html.RenderPartialAsync("~/Views/Shared/Partials/_BotaoAdicionar.cshtml");
        }
    </div>

</div>


