@model IEnumerable<Domain.Entities.Processo>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Orgao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ano)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoProcesso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SituacaoProcesso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrgaoRemetente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnidadeRemetente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrgaoDestinatario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnidadeDestinatario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Servidor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ObservacaoProcesso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProcessoEnviado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProcessoRecebido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProcessoAntigo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Orgao.OrgaoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ano)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoProcesso.TipoProcessoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SituacaoProcesso.SituacaoProcessoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrgaoRemetente.OrgaoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnidadeRemetente.UnidadeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrgaoDestinatario.OrgaoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnidadeDestinatario.UnidadeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servidor.ServidorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ObservacaoProcesso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProcessoEnviado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProcessoRecebido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProcessoAntigo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProcessoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProcessoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProcessoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
