@*@model IEnumerable<Domain.Entities.Processo>*@
@model MVC.ViewModels.ProcessoPaginatedListViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h5>Processos</h5>
    </div>
    <div class="card-body">
        <div class="card">
            <div class="card-header">
                @{
                    await Html.RenderPartialAsync("~/Views/Shared/Partials/_Buscar.cshtml", @Model);
                }
            </div>
            <div class="card-body">
                    <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProcessoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ano)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoProcesso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SituacaoProcesso)
            </th>
           
           
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.values) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProcessoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ano)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoProcesso.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SituacaoProcesso.Descricao)
            </td>
           
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProcessoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProcessoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProcessoId">Delete</a>
                                    @{
                                        await Html.RenderPartialAsync("~/Views/Shared/Partials/_AcoesIndex.cshtml", @ViewData["Id"] = @item.ProcessoId);
                                    }
            </td>
        </tr>
}
    </tbody>
</table>
            </div>
            <div class="card-footer">
                @await Component.InvokeAsync("Pagination", new { values = Model.values, routeData=Model.LinkData})
            </div>
        </div>
    </div>
    <div class="card-footer">
        @{
            await Html.RenderPartialAsync("~/Views/Shared/Partials/_BotaoAdicionar.cshtml");
        }
    </div>
</div>
