@model IEnumerable<Domain.Entities.Logradouro>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bairro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoLogradouro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descricaoTipoLogradouro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CEP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cidade.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bairro.BairroId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoLogradouro.TipoLogradouroId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descricaoTipoLogradouro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CEP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ativo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LogradouroId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LogradouroId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LogradouroId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
