@model MVC.ViewModels.LogradouroPaginatedListViewModel

@{
    ViewData["Title"] = "Index";
}


<p>
    <a asp-action="Create">Create New</a>
</p>


<div class="card">
    <div class="card-header">
        <h4>Lista de Logradouros</h4>
    </div>
    <div class="card-body">
        <div class="card">
            <div class="card-header">
                 @{
                    await Html.RenderPartialAsync("~/Views/Shared/Partials/_Buscar.cshtml",@Model);
                }
            </div>
            <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CEP)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Descricao)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Cidade)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Bairro)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TipoLogradouro)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Ativo)
                                    </th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                        @foreach (var item in Model.values) {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CEP)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Descricao)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Cidade.Descricao)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Bairro.Descricao)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TipoLogradouro.Descricao)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Ativo)
                                    </td>
                                    <td>
                                        @{
                                            await Html.RenderPartialAsync("~/Views/Shared/Partials/_AcoesIndex.cshtml", @ViewData["Id"]=@item.LogradouroId);
                                        }
                                    </td>
                                </tr>
                        }
                            </tbody>
                        </table>
            </div>
            <div class="card-footer">
                @await Component.InvokeAsync("Pagination", new { values = Model.values, routeData=Model.LinkData})
            </div>
        </div>
    </div>
    <div class="card-footer">
        @{
            await Html.RenderPartialAsync("~/Views/Shared/Partials/_BotaoAdicionar.cshtml");
        }
    </div>

</div>