@model MVC.ViewModels.EconomiaViewModel

@{
    ViewData["Title"] = "Economia";
}

<div class="card">
    <div class="card-header">
        <h4>Imovel: @Html.DisplayFor(model => model.ImovelId) Economia: @Html.DisplayFor(model => model.EconomiaId)</h4>
    </div>
    <div class="card-body">
        <div class="card">
            <div class="card-header">
                    <h4>Economia</h4>
            </div>
            <div class="card-body">
                <div>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Imovel)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Imovel.ImovelId)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Latitude)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Latitude)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Longitude)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Longitude)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Complemento)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Complemento)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.AreaConstruida)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.AreaConstruida)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.AnoConstrucao)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.AnoConstrucao)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Numeracao)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Numeracao)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Caracteristica)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Caracteristica)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Matricula)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Matricula)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.TemProcessos)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.TemProcessos)
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="card-footer">
                
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h4>Proprietários/Responsáveis</h4>
            </div>
            <div class="card-body">
                    @Html.Partial("~/Views/Autuar2/Economia_Entidade.cshtml",Model.Pessoas)
            </div>
            <div class="card-footer">
            </div>
        </div>
    </div>
    <div class="card-footer">

        @{
            await Html.RenderPartialAsync("~/Views/Shared/Partials/_BotaoVoltar.cshtml");
        }
    </div>
        
    </div>

</div>
